CONTACT_SMTP_HOST=
CONTACT_SMTP_PORT=587
CONTACT_SMTP_USERNAME=
CONTACT_SMTP_PASSWORD=
CONTACT_SMTP_FROM=
CONTACT_SMTP_TO=timdemunck@skynet.be
CONTACT_SMTP_SECURITY=starttls
CONTACT_RATE_LIMIT_SECONDS=45
